name: SonarCloud analysis

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: pwd; ls -l
  Analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2.2.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args:
            -Dsonar.projectKey=atlas-catalog
            -Dsonar.organization=
            -Dsonar.sources=src
            -Dsonar.verbose=false
            -Dsonar.php.frameworkDetection=true
            -Dsonar.coverage.exclusions=database/**/*.php
            -Dsonar.scm.provider=git
          projectBaseDir: /github/workspace
