name: SonarCloud analysis

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Analyze with SonarCloud

        # You can pin the exact commit or the version.
        # uses: SonarSource/sonarcloud-github-action@v2.2.0
        uses: SonarSource/sonarcloud-github-action@4006f663ecaf1f8093e8e4abb9227f6041f52216
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args:
            -Dsonar.projectKey=atlas-catalog
            -Dsonar.organization=
            -Dsonar.sources=src
            -Dsonar.tests=src/tests
            #-Dsonar.verbose= # optional, default is false
          # When you need the analysis to take place in a directory other than the one from which it was launched, default is .
            #-Dsonar.php.exclusions=
            -Dsonar.php.frameworkDetection=true
            -Dsonar.coverage.exclusions=database/**/*.php
            #-Dsonar.php.coverage.reportPaths=
            #-Dsonar.php.tests.reportPath=
            #-Dsonar.php.phpstan.reportPaths=
            #-Dsonar.php.psalm.reportPaths=
            -Dsonar.scm.provider=git
          projectBaseDir: .
